header.header {
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

header.main-header {
  background-image: 
    linear-gradient(to right bottom, 
    rgba(206, 232, 239, 0.2),
    rgba(30, 108, 217, 0.4)),
    url(/image/ZNU.jpg);
}

header.semester5-header {
  background-image: url(/image/Lib.jpg);
}

header.semester6-header {
  background-image: url(/image/rain.jpg);
}

header.semester7-header {
  background-image: url(/image/lib2.jpg);
}

header.about-header {
  background-image: url(/image/rain.jpg);
}

header.algorithm-design-header {
  background-image: url(/image/Back-ground/znu26.jpg);
}

header.assembly-language-header {
  background-image: url(/image/Back-ground/znu21.jpg);
}

header.compiler-design-header {
  background-image: url(/image/Back-ground/znu22.jpg);
}

header.computer-vision-header {
  background-image: url(/image/Back-ground/znu4.jpg);
}

header.micro-processor-header {
  background-image: url(/image/Back-ground/znu20.jpg);
}

header.operating-system-header {
  background-image: url(/image/Back-ground/znu13.jpg);
}

header.system-analysis-header {
  background-image: url(/image/Back-ground/znu18.jpg);
}

header.artificial-intelligence-header {
  background-image: url(/image/Back-ground/znu9.jpg);
}

header.computer-network-header {
  background-image: url(/image/Back-ground/znu5.jpg);
}

header.data-mining-header {
  background-image: url(/image/Back-ground/znu16.jpg);
}

header.FPGA-header {
  background-image: url(/image/Back-ground/znu23.jpg);
}

header.programming-languages-design-header {
  background-image: url(/image/Back-ground/znu2.jpg);
}

header.internet-engineering-header {
  background-image: url(/image/Back-ground/znu27.jpg);
}

header.software-engineering-header {
  background-image: url(/image/Back-ground/znu34.jpg);
}

p.header-text {
  background-color: aliceblue;
  opacity: 50%;
  text-align: center;
  padding: 10px 40px 10px 40px;

  font-family: 'Dancing Script', cursive;
	font-size: 60px;
  font-weight: 500;
}

div.header-div-text {
  padding-top: 220px;
}

@media (max-width: 910px) {
  header.header{
    height: 600px;
  }

  p.header-text {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  header.header{
    height: 500px;
  }

  p.header-text {
    font-size: 40px;
  }

  div.header-div-text {
    padding-top: 150px;
  }
}