h2.passage-text {
  color: #555;
  text-align: center;
  font-family: 'xb_niloofarregular';
  font-size: 3rem;
  font-weight: 400;
  padding-top: 30px;
}

div.passage-container {
  padding: 0 10% 0 10%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
}

p.passage-p {
  text-align: justify;
  font-family: 'ubunturegular';
  font-size: 24px;
  padding: 40px 30px 0 30px;
}

img.passage-image {
  padding-top: calc(170px - 10vw);
}

@media (max-width: 900px) {
  div.passage-container {
    flex-direction: column;
    font-size: 16px;
  }

  p.passage-p {
    font-size: 20px;
  }

  div.passage-img-div{
    order: 1;
  }

  img.passage-image {
    display: none;
  }
}

@media (max-width: 500px) {
  p.passage-p {
    font-size: 15px;
  }
}