div.video-container {
  max-width: 1600px;
  padding: 60px 7% 70px 7%;
  display: flex;
  flex-direction: row;
}

h2.video-text {
  color: #555;
  text-align: center;
  font-family: 'xb_niloofarregular';
  font-size: 3rem;
  font-weight: 400;
  padding-top: 30px;
}

div.left {
  background-color: #E5E4E2;
  width: 300px;
  display: block;
  padding: 10px;
}

div.play-list {
  width: 280px;
  height: calc(40vw);
  overflow-y: scroll;
}

div.part {
  background-color: #C0C0C0;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

div.part:hover {
  background-color: #7393B3;
}

p.section-txt {
  width: 49%;
  display: inline-block;
  padding: 10px 0 0 10px;
  text-align: left;
}

p.date-txt {
  width: 49%;
  display: inline-block;
  padding: 10px 10px 0 0;
  text-align: right;
}

div.right {
  max-width: 1000px;
  padding: 10px;
}

video.video {
  width: 100%;
  height: auto;
}

div.video-options {
  height: 50px;
}

@media (max-width: 700px) {
  div.video-container {
    flex-direction: column;
  }

  h2.video-text {
    font-size: 2.5rem;
  }

  div.left {
    width: 100%;
    height: 250px;
    display: inline-block;
    order: 1;
  }

  div.play-list {
    width: 100%;
    height: 240px;
  }
  
  div.right {
    order: 0;
  }
}